/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


/* Underline */
header::after {
  content: ''; /* Add empty content */
  position: relative; /* Position the underline relatively */
  display: block; /* Ensure the pseudo-element is displayed as a block element */
  width: 100%; /* Make the underline span the full width of the header */
  border-bottom: 1.5px solid #aeaeae6f; /* Add a 2px solid border */
  top: -10px; /* Move the underline up by 10 pixels */
}

/* Team Page Styles */
h1 {
  text-align: center;
  margin-bottom: 10px; /* Reduce margin bottom */
  font-size: 24px; /* Adjust font size */
}

.logo img {
  height: 50px; /* Adjust logo size */
  width: auto;
}

/* Meet the Team Page Styles */
.header-title {
  text-align: center;
  margin: 0 auto; /* Center align the title */
  max-width: 200px; /* Set a fixed width for the title container */
}

.header-title h1 {
  margin: 0;
  font-size: 20px; /* Adjust title font size */
}

.header-title {
  margin-bottom: 12px; /* Adjust the margin-bottom value as needed */
}

nav {
  margin-bottom: 12px; /* Adjust the margin-bottom value as needed */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 35px;
  width: 150px;
  text-align: center;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
}

nav ul li a {
  color: #0f0f0f; /* Dark text color */
  text-decoration: none;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  padding: 10px 15px; /* Adjusted padding for the navigation links */
}

nav ul li a:hover {
  color: #2835be; /* Dark blue color on hover */
  font-weight: bold; /* Add font weight to the navigation links on hover */
  padding-right: 20px; /* Adjusted padding for the right side of the navigation links on hover */
  text-decoration: underline;
}


/* Main Content Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #1a5bbc;
}

/* Team Page Styles */
.team-member {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

.team-member:hover {
  transform: translateY(-5px); /* Move element up on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.container {
  max-width: 1200px; /* Increase the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px; /* Adjust the margin-bottom as needed */
  width: calc(33.33% - 40px); /* Adjust the width as needed */
  text-align: center; /* Center align content */
}

.team-member img {
  display: block;
  margin: 0 auto 10px; /* Adjust the margin-bottom as needed */
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%;
}

.team-member h2, .team-member .position {
  margin-bottom: 10px;
}

.team-member .bio {
  text-align: justify;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/* Footer Styles */
footer {
  background-color: #1a5bbc;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Adjusted height */
}